/* :root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --white: #fff;
  --dairy: #fcfcfc;
} */

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  color: #2e2f42;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.list-item-title {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.list-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #4d5ae5;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.header .nav-logo {
  margin-right: 76px;
}

.header .nav-logo .accent {
  color: #2e2f42;
}

.header-nav-list {
  display: flex;
  gap: 40px;
}
.nav-list-item {
}

.nav-list-item-link {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active::after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.nav-list-item-link:hover {
  color: #404bbf;
}

.nav-list-item-link:focus {
  color: #404bbf;
}

.nav-list-item-link:active {
  color: #404bbf;
  text-decoration: underline;
}

.header-address {
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  gap: 40px;
}
.contacts-list-item {
}

.contacts-list-item-link {
  color: #434455;
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list-item-link:hover {
  color: #404bbf;
}

.contacts-list-item-link:focus {
  color: #404bbf;
}

/* hero-section */
.hero-section {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-img.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  color: #fff;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: 1.07;
  max-width: 496px;
  margin: 0 auto 48px;
}

.hero-button {
  border: none;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  letter-spacing: 0.04em;
  line-height: 1.5;
  cursor: pointer;
  border-radius: 4px;
  display: block;
  min-width: 169px;
  height: 56px;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover {
  background-color: #404bbf;
}

.hero-button:focus {
  background-color: #404bbf;
}

/* benefits-section */
.benefits {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-list {
  display: flex;
  gap: 24px;
}

.benefits-list-item {
  width: calc((100% - 72px) / 4);
}

.benefits-list-item-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

.benefits-list-item-title {
  margin-bottom: 8px;
}

.benefits-list-item-text {
}

/* our-team */
.our-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.our-team-title {
  margin-bottom: 72px;
}

.our-team-list {
  display: flex;
  gap: 24px;
}

.our-team-list-item-container {
  padding: 32px 0;
}

.our-team-list-item {
  background-color: #fff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.our-team-list-item-img {
}

.our-team-list-item-title {
  text-align: center;
  margin-bottom: 8px;
}

.our-team-list-item-text {
  text-align: center;
}

.our-team-list-item-container-social {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.our-team-list-item-container-social-item {
  width: 40px;
  height: 40px;
}

.our-team-list-item-container-social-item-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-list-item-container-social-item-link:hover {
  background-color: #404bbf;
}

.our-team-list-item-container-social-item-link:focus {
  background-color: #404bbf;
}

.our-team-list-item-container-social-item-link-svg {
  fill: #f4f4fd;
}

/* portfolio */
.portfolio {
  padding: 120px 0;
}

.portfolio-title {
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-list-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .portfolio-list-item-img-text {
  transform: translateY(0%);
}

.portfolio-list-item-img {
  position: relative;
  overflow: hidden;
}

.portfolio-list-item-img-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list-item-title {
  margin-bottom: 8px;
}

.portfolio-list-item-img {
}
.portfolio-list-item-text {
}

/* footer */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer .nav-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer .nav-logo .accent {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-container-main {
  margin-right: 120px;
}

.footer-container-social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-container-social-list {
  display: flex;
  gap: 16px;
}

.footer-container-social-list-item {
  width: 40px;
  height: 40px;
}

.footer-container-social-list-item-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-container-social-list-item-link:hover {
  background-color: #31d0aa;
}

.footer-container-social-list-item-link:focus {
  background-color: #31d0aa;
}

.footer-container-social-list-item-link-svg {
  fill: #f4f4fd;
}
